html {
	box-sizing: border-box;
	--color-main: #570615;
	--color-second: #d6cdbe;
}

* {
	box-sizing: inherit;
	/*outline: dashed 1px blue;*/
}

/*.page_entiere {
	background-color: #f5ebee;
}*/

.bord_gauche, .bord_droit {
	/*flex: 1 1 10%;*/
	background-color: #f5ebee;
	background-image: url(Images/icons.png);
	background-position: top center;
	background-size: 100%;
}

.bord_gauche {
	grid-area: bord_gauche;
}

.bord_droit {
	grid-area: bord_droit;
}

article {
	grid-area: recette;

	background-color: #f5ebee;
	/*margin: 0 2rem;*/
	padding: 0 2rem;
	/*flex: 1 1 80%;*/
}

article h2 {
	font-size: 1.5rem; /* taille police */
	text-align: left;
	text-transform: uppercase;
}

article h1 {
	text-align: center;
	font-size: 2.5rem;
}

article h1, article h2 {
	font-family: "PT Serif", serif;
	color : var(--color-main);
	font-weight: bold; /* gras */
}

p, table, ul, ol {
	color: #000000;
}

h1 img {
	height: 20rem;
}

article img {
	/* width: 20em; épaisseur */
	height: 19rem;
	display: block;
	margin: 1.5rem auto;
	box-shadow: 5px 5px 10px grey;
	border-radius: 5px;
}

article ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
	counter-reset: my-counter;
}

article ol li {
	counter-increment: my-counter;
	margin-bottom: 2rem;
}

article ol li::before {
	content: counter(my-counter) ". \a";
	white-space: pre;
	color: var(--color-second);
	font-size: 3rem;
	font-weight: bold;
	display: block;
	margin: 1rem 0;
}

article table {
	margin: 2rem auto;
	border-collapse: collapse;
	border-style: hidden;
}

article table td, article table th {
	padding: 1rem;
	text-align: center;
	border: 2px solid var(--color-second);
}

.ingredients {
	font-weight: bold;
}

header {
	grid-area: header;

	/*height: 11rem;*/
	display: flex;
	gap: 2rem;
	padding: 2rem;
	background-color: var(--color-second);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23927f4f' fill-opacity='0.13' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
	align-items: center;
	border-bottom: 3px solid var(--color-main);
}

.logo img {
	max-width: 100%;
	height: auto;
}

.logo {
	width: 9rem;
}

header h1 {
	font-family: "Kaushan Script", "Lato", sans-serif;
	font-size: 2.5rem; /* taille police */
	color: var(--color-main);
	text-shadow: white 0.1rem 0.1rem;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
/*	background-color: #d6cdbe;
	overflow: hidden;*/
}

nav{
	margin-left: auto;
}

nav a {
	display: block;
	/*border: solid;*/
	padding: 0.5rem 0;
	margin: 1rem;
/*	padding: 50px 20px;
	color: grey;
	font-size: 1.5rem;
	text-align: center;
	font-weight: bold; */
	text-decoration: none;
	color: gray;
	font-size: 1.2rem;
	font-weight: bold;
	border: 3px solid transparent;
}

nav a:focus {
	color: white;
}

nav a:hover {
	color: white;
	border-bottom: solid;
}

nav a:active {
	color: grey;
}

.active {
	color: white;
	border-bottom: solid;
}

footer {
	grid-area: footer;

	padding: 1rem;
	text-align: center;
	font-weight: bold;
	background-color: var(--color-second);
}

body {
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 200px auto;
	grid-template-areas:
		"header header header"
		"bord_gauche recette bord_droit"
		"footer footer footer";

	font-family: "Lato", sans-serif;
	text-align: justify;
	margin: 0;
	padding: 0;
}

#conseil {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

#light-gif {
	height: 3.5rem;
	width: auto;
	margin: 0;
	box-shadow: none;
	border-radius: 0px;
}

.note {
	/*border: 2px solid;*/
	margin: 0;
	padding: 1rem;
	border-radius: 20px;
	background-color: #99a877;
	border: 5px #367537 dashed;
}

.note h2 {
	color:  white;
	text-transform: none;
	margin: 0 0 1rem 0;
	font-size: 2rem;
	font-family: 'Amatic SC', cursive;
}

.note p {
	margin: 0;
	color: white;
}

.lien {
	color: #d4535f;
	text-decoration: none;
}

.sidenav {
	display: none;
}

@media screen and (max-width: 1350px) {
	nav {
		display: none;
	}

	.sidenav {
		display: block;
	}

	header {
		justify-content: space-between;
		padding: 2rem;
	}

	/* Burger menu */
	.sidenav {
	  height: 100%;
	  width: 70%;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 100vw;
	  background-color: var(--color-main);
	  padding-top: 60px;
	  transition: left 0.5s ease;
	}

	/* Sidenav menu links */
	.sidenav a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 2.5rem;
	  color: var(--color-second);
	  display: block;
	  transition: 0.3s;
	}

	.sidenav a:hover {
	  color: white;
	}

	.sidenav ul {
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	}

	/* Active class */
	.sidenav.active {
	  left: calc(100vw - 70%);
	}

	/* Close btn */
	.sidenav .close {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	}

	/* Icône burger */
	.burger-icon span {
		/*margin-left: auto;*/

		display: block;
		width: 35px;
		height: 5px;
		background-color: gray;
		margin: 6px 0;
		border-radius: 4px;
	}

	article img {
		width: 100%;
		height: auto;
	}
}
